xml/Drug.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE Drug [
  <!ELEMENT Drug(name, activePrinciple, stock, sellingPrice,corridor,packaged,arrives)>
   <!ELEMENT name (#PCDATA)>
   <!ELEMENT activePrinciple(#PCDATA)>  
    <!ELEMENT stock(#PCDATA)>
    <!ELEMENT sellingPrice(#PCDATA)>
      <!ELEMENT corridor(#PCDATA)>
   <!ELEMENT packaged(Packaged+)>
   <!ELEMENT Packaged()>
   
 
    <!ELEMENT photo(#PCDATA)>    
     ]>
     